
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Register - Smart Grocery Store Assistant</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}"/>
</head>
<body>
  <header>
    <div class="main">
      <div class="logo">
       <img src="{{ url_for('static', filename='images/logo.png') }}">

        <h2>ShopiBot</h2>
      </div>
      <nav>
        <a href="{{ url_for('logout') }}">Logout</a>
         <a href="{{ url_for('register') }}">Register</a>
      </nav>
    </div>
  </header>


  <section>
    <div class="login">
      <h2>Create Your Account</h2>

     
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
          <div id="message" data-category="{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endwith %}

      <div class="form">
        <form method="POST" action="{{ url_for('register') }}">
          <label for="username">Username</label><br>
          <input type="text" id="username" name="username" required/><br>

          <label for="email">E-mail</label><br>
          <input type="email" id="email" name="email" required/><br>

          <label for="password">Password</label><br>
          <input type="password" id="password" name="password" required/> <br>
             
          
         

          <label for="confirm_password">Confirm Password</label><br>
          <input type="password" id="confirm_password" name="confirm_password" required/><br>

          

          <button type="submit">Register</button>
        </form>
      </div>

      <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </div>
  </section>

  
  <footer>
    <div class="footer">
      <p>© 2025 Smart Grocery Assistant</p>
    </div>
  </footer>

  <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>